.black {
    background-color: black;
}

.white {
    background-color: white;
}

td {
    height: 100px;
    width: 100px;
}


table, tr, td {
    border: 1px solid black;
    border-collapse: collapse;
}

* {
    text-align: center;
}
body {
    background: linear-gradient(to right, #74ebd5, #ACB6E5);
}
.title {
    color:white;
    font-size: 2em;
}
.root {
    /* background-color: white; */
    /* width: 420px; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-radius: 20px; */
}