@media screen and (min-width: 1260px) and (max-width: 1330px) {
    .container:nth-child(1) {
        background-image: url(images/first.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: auto;
    }
    
    /* body {
        background-color: black;
    } */

    /* Navigation */
    
    .top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0px 100px;
    }
    
    .links {
        display: flex;
        align-items: center;
        gap: 50px;
    }
    
    .title {
        font-family: 'pacifico', sans-serif;
        color: white;
    }
    nav .title {
        font-size: 63px;
    }
    
    .link {
        font-family: 'Cuprum', sans-serif;
        text-decoration: none;
        color: white;
        font-size: 30px;
    }
    
    .link:hover {
        color: greenyellow;
        transition: 0.3s;
    }
    
    
    /* Navigation main content */
    
    .nav-main {
        text-align: center;
        margin-top: 200px;
    }
    
    .bg-text {
        color: white;
        font-size: 30px;
        margin-top: 20px;
        font-family: 'Cuprum', sans-serif;
    }
    
    .nav-main .bg-text {
        margin-top: 30px;
    }
    
    .nav-main .title {
        font-size: 90px;
    }
    
    .nav-main .bg-text {
        letter-spacing: 4.5px;
    }
    
    .btn-green {
        margin-top: 30px;
        padding: 10px 60px;
        border-radius: 30px;
        border: none;
        background-color: rgb(91, 211, 67);
        margin-bottom: 250px;
        cursor: pointer;
    }
    
    .btn-green:hover {
        color: black;
        background-color: white;
        transition: 0.3s;
    }
    
    /* Perks */
    
    .perks {
        text-align: center;
        /* margin-top: -100px; */
        margin-bottom: 100px;
    }
    
    .perks .title {
        color: black;
        margin: 100px 0px;
        font-size: 60px;
    }
    
    .perks .bg-text {
        color: black;
        margin-bottom: 10px;
    }
    
    .sm-text {
        font-family: 'Cuprum', sans-serif;
        font-size: 18px;
        margin-bottom: 30px;
    }
    
    .icon {
        width: 75px;
    }
    .perks-container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 200px;
    }
    .perk-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 300px;
    }
    
    .perk-container .title {
        color: greenyellow;
    }
    
    /* .border {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: white;
        width: 300px;
        height: 300px;
        border-radius: 50%;
        margin-top: 135px;
    } */
    
    /* .back {
        width: 500px;
        height: 500px;
        background-image: url(images/fruits-back.png);
        background-position: center;
        background-size: 500px;
        background-repeat: no-repeat;
    } */
    
    /* AD */
    
    .ad {
        height: 1000px;
        background-image: url(images/banner-1.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: auto;
        text-align: center;
        margin-bottom: 100px;
    }
    
    .green {
        color: greenyellow;
        font-size: 42px;
        padding-top: 350px;
    }
    
    
    
    .ad .title {
        font-size: 80px;
    }
    
    /* Products */
    
    .products {
        text-align: center;
        margin-bottom: 100px;
    }
    
    .products h1 {
        color: black;
        font-size: 60px;
        margin-bottom: 20px;
    }
    
    .products a {
        color: black;
    }
    
    .products .links {
        display: flex;
        justify-content: center;
        text-align: center;
        margin-bottom: 20px;
    }
    
    .products a:hover {
        color: greenyellow;
        text-decoration: underline;
    }
    
    .product {
        margin-top: 20px;
        width: 400px;
        padding: 20px 0px;
        /* border: 2px solid rgba(128, 128, 128, 0.456); */
        /* background-color: rgba(128, 128, 128, 0.085); */
        box-shadow: 0px 0px 10px 2px gray;
        cursor: pointer;
    }
    
    .product img {
        width: 250px;
        height: 250px;
    }
    
    .product .bg-text {
        color: black;
        margin-bottom: -20px;
        padding-top: 10px;
        background-color: rgba(128, 128, 128, 0.085);
    }
    .product .bg-text:nth-child(3) {
        color: greenyellow;
        margin-bottom: -40px;
        padding-bottom: 10px;
        background-color: rgba(128, 128, 128, 0.085);
    }
    
    .hidden-menu {
        opacity: 0;
        visibility: hidden;
    }
    
    .hidden-menu a:hover {
        color: white;
    }
    
    .product:hover img {
        height: 210px;
        transition: 1s;
    }
    
    .product:hover .bg-text {
        background-color: greenyellow;
        transition: 1s;
    }
    .product:hover .bg-text:nth-child(3) {
        color: white;
        padding-bottom: 50px;
        transition: 1s;
    }
    
    .product:hover .hidden-menu {
        visibility: visible;
        opacity: 100%;
        transition: 3s;
    }
    
    .products-container {
        width: 80%;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 30px;
    }
    
    .btn-white {
        margin-top: 60px;
        padding: 10px 60px;
        border-radius: 30px;
        border: 1px solid gray;
        background-color: white;
        color: gray;
        cursor: pointer;
    }
    
    .btn-white:hover {
        color: white;
        background-color: greenyellow;
        /* border: none; */
        transition: 0.3s;
    }
    
    /* Footer */
    
    .footer-content {
        width: 80%;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }
    
    .footer .title {
        color: black;
        text-align: center;
        font-size: 60px;
        margin-bottom: -100px;
    }
    
    .footer-content img {
        width: 1500px;
        /* height: 600px; */
    }
    
    .footer-content .bg-text {
        color: black;
        font-size: 32px;
        margin-top: 200px;
    }
    
    .price {
        color: gray;
    }
    
    .price-num {
        color: greenyellow;
        margin-right: 50px;
        font-size: 28px;
    }
    
    .star {
        color: gold;
        display: block;
    }
    
    .footer-content p, li, .price, .price-num, button {
        font-family: 'Cuprum', sans-serif;
    }
    
    .margin {
        margin-bottom: 20px;
    }
    
    /* last */
    
    .last {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-bottom: 50px;
    }
    
    .last img {
        width: 300px;
        height: 200px;
    }
    
    .btn-round {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 1px solid gray;
        font-size: 24px;
        font-family: 'Cuprum', sans-serif;
        font-weight: 700;
    }
}

